<div class="modal fade" id="signup-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <%= render "signup" %>
</div>
<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <%= render "login" %>
</div>
<div id="login-panel-one">
  <div class="header">
    <a href="<%= root_url %>" class="logo">
      <img src="https://www.filepicker.io/api/file/5f7dAlfURSSAb5BVSC1Q"
           alt="sailbnb_logo" />
    </a>
    <a href="javascript:void(0)" class="pull-right">Help</a>
    <a href="javascript:void(0)" class="pull-right" data-toggle="modal"
       data-target="#login-modal">Login</a>
    <a href="javascript:void(0)" class="pull-right" data-toggle="modal"
       data-target="#signup-modal">Sign Up</a>
  </div>
  <div id="welcome" class="text-center">
    <span class="text-uppercase">Welcome Aboard!</span>
    <p>Rent unique ships to sail from local hosts in San Francisco.</p>
  </div>
  <div id="login-start" class="text-center">
    <form action="<%= session_url %>" method="post">
      <input 
        type="hidden" 
        name="authenticity_token" 
        id="" 
        value="<%= form_authenticity_token %>" 
      />
      <input type="hidden" name="user[email]" value="guest" />
      <input type="hidden" name="user[password]" value="apples" />
      <input id="guest-login-btn"type="submit" value="Guest Login" />
    </form>
  </div>
</div>
<div id="login-panel-two">
  <h2 style="margin-bottom:5px;font-weight:bold;"class="text-center">Start Your Adventure</h2>
  <p class="text-center">Explore the oceans that seafarers love.</p>
</div>
<footer>
  <div class="container">
    <div class="row col-md-offset-2 col-md-8">
      <div class="col-md-3">
        <div class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" id="dropdown-language" data-toggle="dropdown">
            English
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dropdown-language">
            <li role="presentation" class="dropdown-header">Language</li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Français</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">English</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Espa&ntilde;ol</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Tiếng Việt</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-3 text-left">
        <h5>Company</h5>
        <ul>
          <li><a href="#" class="link-contrast">About</a></li>
          <li><a href="#" class="link-contrast">Jobs</a></li>
          <li><a href="#" class="link-contrast">Press</a></li>
          <li><a href="#" class="link-contrast">Blog</a></li>
          <li><a href="#" class="link-contrast">Help</a></li>
          <li><a href="#" class="link-contrast">Policies</a></li>
          <li><a href="#" class="link-contrast">Disaster Response</a></li>
          <li><a href="#" class="link-contrast">Terms & Privacy</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h5>Discover</h5>
        <ul>
          <li><a href="#" class="link-contrast">Trust & Safety</a></li>
          <li><a href="#" class="link-contrast">Invite Friends</a></li>
          <li><a href="#" class="link-contrast">Airbnb Picks</a></li>
          <li><a href="#" class="link-contrast">Mobile</a></li>
          <li><a href="#" class="link-contrast">Support NYC</a></li>
          <li><a href="#" class="link-contrast">Business Travel</a></li>
          <li><a href="#" class="link-contrast">Site Map</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h5>Hosting</h5>
        language
        currency
      </div>
    </div>
  </div>
</footer>
<%= audio_tag "https://www.filepicker.io/api/file/Nub2bB6gQgyVVViYudr8" autoplay: true %>
