<div id="login-panel-one">
  <div class="header">
    <a href="<%= root_url %>" class="logo">
      <img src="https://www.filepicker.io/api/file/5f7dAlfURSSAb5BVSC1Q"
           alt="sailbnb_logo" />
    </a>
    <a href="javascript:void(0)" class="pull-right">Help</a>
    <a href="javascript:void(0)" class="pull-right" id="sign-in">Login</a>
    <a href="javascript:void(0)" class="pull-right" id="sign-up">Sign Up</a>
  </div>
  <div id="login-form" class="row" style="display:none">
    <form action="<%= session_url %>" method="post" class="col-md-10 col-md-offset-1">
      <input 
        type="hidden" 
        name="authenticity_token" 
        id="" 
        value="<%= form_authenticity_token %>" 
      />
      <div>
        <input 
          type="text" 
          placeholder="Email" 
          name="user[email]" 
          class="login-field" 
          value="<%= @user.email %>" 
        />
      </div>
      <div>
        <input 
          type="password" 
          placeholder="Password" 
          name="user[password]" 
          class="login-field" 
        />
      </div>
      <input type="submit" class="login-field" value="Sign In" />
      <p class="login-field">Guest Login</p>
    </form>
    <a href="<%= new_user_url %>">Register as new user!</a>
  </div>
  <div id="welcome" class="text-center">
    <span class="text-uppercase">Welcome Aboard!</span>
    <p>Rent unique ships to sail from local hosts in San Francisco.</p>
  </div>
  <div id="login-start" class="text-center">
    <form action="<%= session_url %>" method="post">
      <input 
        type="hidden" 
        name="authenticity_token" 
        id="" 
        value="<%= form_authenticity_token %>" 
      />
      <input type="hidden" name="user[email]" value="guest" />
      <input type="hidden" name="user[password]" value="apples" />
      <input id="guest-login-btn"type="submit" value="Guest Login" />
    </form>
  </div>
</div>
<div id="login-panel-two">
  <h2 style="margin-bottom:5px;font-weight:bold;"class="text-center">Start Your Adventure</h2>
  <p class="text-center">Explore the oceans that seafarers love.</p>
</div>
<footer>
  <div class="container">
    <div class="row col-md-offset-2 col-md-8">
      <div class="col-md-3">
        <div>
          language
        </div>
        <div>
          currency
        </div>
      </div>
      <div class="col-md-3 text-left">
        <h5>Company</h5>
        <ul>
          <li><a href="#" class="link-contrast">About</a></li>
          <li><a href="#" class="link-contrast">Jobs</a></li>
          <li><a href="#" class="link-contrast">Press</a></li>
          <li><a href="#" class="link-contrast">Blog</a></li>
          <li><a href="#" class="link-contrast">Help</a></li>
          <li><a href="#" class="link-contrast">Policies</a></li>
          <li><a href="#" class="link-contrast">Disaster Response</a></li>
          <li><a href="#" class="link-contrast">Terms & Privacy</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h5>Discover</h5>
        <ul>
          <li><a href="#" class="link-contrast">Trust & Safety</a></li>
          <li><a href="#" class="link-contrast">Invite Friends</a></li>
          <li><a href="#" class="link-contrast">Airbnb Picks</a></li>
          <li><a href="#" class="link-contrast">Mobile</a></li>
          <li><a href="#" class="link-contrast">Support NYC</a></li>
          <li><a href="#" class="link-contrast">Business Travel</a></li>
          <li><a href="#" class="link-contrast">Site Map</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h5>Hosting</h5>
        language
        currency
      </div>
    </div>
  </div>
</footer>
<script src="session_new.js" type="text/javascript" charset="utf-8"></script>
