<a class="index-image float" style="background-image:url();" href="#/boats/<%= boat.id %>">
<div class="item-info">
<img class="boat-img" src="<%= boat.images().models[0].get('filepicker_url') %>" alt="boat_image" />
<div class="price">
</div>
<img src="" alt="user_image" />
  
</div>
<div class="info">
  
</div>
<h4><%= boat.escape("name") %></h4>
<p><%= boat.owner().get('f_name') %></p>
<p><%= boat.get('price') %></p>
<p><%= boat.get('size') %></p>
<p><%= boat.get('style') %></p>
</div>
<p>this my boat</p>
</a>
