<h4><a href="#/boats/<%= boat.id %>"><%= boat.escape("name") %></a></h4>
<p><%= boat.owner().get('f_name') %></p>
<p><%= boat.get('price') %></p>
<p><%= boat.get('size') %></p>
<p><%= boat.get('style') %></p>
<p><%= boat.images().models[0].get('filepicker_url') %></p>
