<a class="index-image" style="background-image:url();" href="#/boats/<%= boat.id %>">
  <div class="boat-top">
    <img class="boat-img" src="<%= boat.images().models[0].get('filepicker_url') %>" alt="boat_image" />
    <span class="boat-price">
      <span>$</span><%= boat.escape('price') %>
    </span>
  </div>
  <div class="boat-bottom">
    <span class="boat-name"><%= boat.escape("name") %></span>
    <span class="boat-style"><%= boat.get('style') %></span>
    <span class="boat-size">Fits: <%= boat.get('size') %></span>
    <br />
    <span class="boat-tagline"><%= boat.get('tagline') %></span>
  </div>
</a>
<a class="boat-owner" href="#">
  <img class="boat-owner-img" src="<%= boat.owner().get('image_url') %>" alt="user_image" />
</a>
