<% if (boat.images().models[0]) { %>
  <div id="boat-show-img-container">
  <% i = boat.images().models %>
    <div id="boat-show-img" style="background-image:url(<%= i[i.length - 1].get('filepicker_url') %>)">
    </div>
  </div>
<% } %>
<div id="boat-show-info" class="container" >
  <div class="row">
    <div class="col-sm-2 text-center">
      <div>
        <img id="boat-show-owner"src="<%= boat.owner().get('image_url') %>" alt="" />
      </div>
      <div class="text-center">
        <%= boat.owner().escape('f_name') %>
      </div>
    </div>
    <div class="col-sm-6">
      <p id="boat-show-name"><%= boat.escape('name') %></p>
      <p>"<%= boat.escape('tagline') %>"</p>
      <a class="fp-upload" href="javascript:void(0)">Upload Picture</a>
      <p><%= boat.escape('location') %></p>
      <p><%= boat.escape('style') %></p>
      <p><%= boat.escape('size') %></p>
    </div>
    <div class="col-sm-4">
      <div id="boat-show-rent-req">
      </div>
    </div>
  </div>
</div>

<div id="boat-show-desc">
  <div class="container">
    <h4>About This Listing</h4>
<% if (boat.images().models[0]) { %>
  <div>
    <img id="interior" src="<%= i[i.length-2].get('filepicker_url') %>">
  </div>
<% } %>
    <p><%= boat.escape('description') %></p>
  </div>
</div>

<div class="container">
  <h4>Reviews</h4>
</div>

<div id="boat-show-about">
  <div class="container">
    <h4>About the Host, <%= boat.owner().escape('f_name') %></h4>
    <p><%= boat.owner().escape('intro') %></p>
  </div>
</div>
