<!DOCTYPE html>
<html>
<head>
  <title>sailbnb</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= filepicker_js_include_tag %>
  <script type="text/javascript">
		filepicker.setKey("APRCioQYESv62DiDUIEDRz");
  </script>
	<%= csrf_meta_tags %>
</head>
<body>

<% if flash[:notices] %>
  <ul>
  <% flash[:notices].each do |notice| %>
    <li><%= notice %></li>
  <% end %>
  </ul>
<% end %>

<%= yield %>
</body>
</html>
